@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body text-sm min-h-screen text-dark;
  }

  .container-page {
    @apply w-full max-w-[1150px] mx-auto px-5;
  }
}

@layer components {
}

@layer utilities {
  .menu-item::before {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    background-image: linear-gradient(to right, #a0ccc8, #a8e7e1);
    width: 0px;
    height: 3px;
    transition: all linear 0.2s;
  }

  .menu-item:hover:before {
    width: 100%;
  }

  .amount__title-small:before {
    margin: 0 auto;
    display: block;
    content: '';
    width: 50%;
    height: 1px;
    background-color: #ffffff4a;
  }
  .amount__item .amount__title:before {
    margin: 0 auto;
    display: block;
    content: '';
    width: 25%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2901960784);
  }
}
